{% extends base_template %}
{% load staticfiles %}


{% block breadcrumb %}
<li class="active">Home</li>

{{ block.super }}
{% endblock %}


{% block content %}

<link href="/static/base/css/dashboard_styles.css" rel="stylesheet">
<!--
This is where bootstrap starts to get a bit demented.   Surely not all
these divs are needed.


-->

<h2>Total Shipments</h2>

<div class="container-fluid" id="wrapper">

    <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-2">
            <div class="panel panel-plum panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <svg class="glyph stroked app-window-with-content"><use xlink:href="#stroked-app-window-with-content"></use></svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">{{SYE1_count}}</div>
                        <div class="text-muted">SYE1</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-2">
            <div class="panel panel-ocean panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">{{SYE2_count}}</div>
                        <div class="text-muted">SYE2</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-2">
            <div class="panel panel-slate panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <svg class="glyph stroked app-window-with-content"><use xlink:href="#stroked-app-window-with-content"></use></svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">{{SYE3_count}}</div>
                        <div class="text-muted">SYE3</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-2">
            <div class="panel panel-plum panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <svg class="glyph stroked app-window-with-content"><use xlink:href="#stroked-app-window-with-content"></use></svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">{{BE1_count}}</div>
                        <div class="text-muted">BE1</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-2">
            <div class="panel panel-ocean panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">{{BE2_count}}</div>
                        <div class="text-muted">BE2</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-2">
            <div class="panel panel-slate panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <svg class="glyph stroked app-window-with-content"><use xlink:href="#stroked-app-window-with-content"></use></svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">{{BE3_count}}</div>
                        <div class="text-muted">BE3</div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.row-->

</div>
    
<h2>Units Sold</h2>

<div class="container-fluid" id="wrapper">
    <div class="row">
            <div class="col-xs-4 col-md-2">
                <div class="panel panel-default">
                    <div class="panel-body easypiechart-panel">
                        <h4>SYE1</h4>
                        <div class="easypiechart" id="easypiechart-SYE1" data-percent="{{SYE1_percent_sold}}" ><span class="percent">{{SYE1_sold}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 col-md-2">
                <div class="panel panel-default">
                    <div class="panel-body easypiechart-panel">
                        <h4>SYE2</h4>
                        <div class="easypiechart" id="easypiechart-SYE2" data-percent="{{SYE2_percent_sold}}" ><span class="percent">{{SYE2_sold}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 col-md-2">
                <div class="panel panel-default">
                    <div class="panel-body easypiechart-panel">
                        <h4>SYE3</h4>
                        <div class="easypiechart" id="easypiechart-SYE3" data-percent="{{SYE3_percent_sold}}" ><span class="percent">{{SYE3_sold}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 col-md-2">
                <div class="panel panel-default">
                    <div class="panel-body easypiechart-panel">
                        <h4>BE1</h4>
                        <div class="easypiechart" id="easypiechart-BE1" data-percent="{{BE1_percent_sold}}" ><span class="percent">{{BE1_sold}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 col-md-2">
                <div class="panel panel-default">
                    <div class="panel-body easypiechart-panel">
                        <h4>BE2</h4>
                        <div class="easypiechart" id="easypiechart-BE2" data-percent="{{BE2_percent_sold}}" ><span class="percent">{{BE2_sold}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 col-md-2">
                <div class="panel panel-default">
                    <div class="panel-body easypiechart-panel">
                        <h4>BE3</h4>
                        <div class="easypiechart" id="easypiechart-BE3" data-percent="{{BE3_percent_sold}}" ><span class="percent">{{BE3_sold}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.row-->
</div>


<h2>MICH inventory</h2>

<div class="container-fluid" id="wrapper">

    <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-2">
            <div class="panel panel-plum panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <svg class="glyph stroked app-window-with-content"><use xlink:href="#stroked-app-window-with-content"></use></svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">{{location_counts.MICH.SYE1}}</div>
                        <div class="text-muted">SYE1</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-2">
            <div class="panel panel-ocean panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">{{location_counts.MICH.SYE2}}</div>
                        <div class="text-muted">SYE2</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-2">
            <div class="panel panel-slate panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <svg class="glyph stroked app-window-with-content"><use xlink:href="#stroked-app-window-with-content"></use></svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">{{location_counts.MICH.SYE3}}</div>
                        <div class="text-muted">SYE3</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-2">
            <div class="panel panel-plum panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <svg class="glyph stroked app-window-with-content"><use xlink:href="#stroked-app-window-with-content"></use></svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">{{location_counts.MICH.BE1}}</div>
                        <div class="text-muted">BE1</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-2">
            <div class="panel panel-ocean panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">{{location_counts.MICH.BE2}}</div>
                        <div class="text-muted">BE2</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-2">
            <div class="panel panel-slate panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <svg class="glyph stroked app-window-with-content"><use xlink:href="#stroked-app-window-with-content"></use></svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">{{location_counts.MICH.BE3}}</div>
                        <div class="text-muted">BE3</div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.row-->

</div>


<h2>152 Franklin inventory</h2>

<div class="container-fluid" id="wrapper">

    <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-2">
            <div class="panel panel-plum panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <svg class="glyph stroked app-window-with-content"><use xlink:href="#stroked-app-window-with-content"></use></svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">{{location_counts.152Frank.SYE1}}</div>
                        <div class="text-muted">SYE1</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-2">
            <div class="panel panel-ocean panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">{{location_counts.152Frank.SYE2}}</div>
                        <div class="text-muted">SYE2</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-2">
            <div class="panel panel-slate panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <svg class="glyph stroked app-window-with-content"><use xlink:href="#stroked-app-window-with-content"></use></svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">{{location_counts.152Frank.SYE3}}</div>
                        <div class="text-muted">SYE3</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-2">
            <div class="panel panel-plum panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <svg class="glyph stroked app-window-with-content"><use xlink:href="#stroked-app-window-with-content"></use></svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">{{location_counts.152Frank.BE1}}</div>
                        <div class="text-muted">BE1</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-2">
            <div class="panel panel-ocean panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">{{location_counts.152Frank.BE2}}</div>
                        <div class="text-muted">BE2</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-2">
            <div class="panel panel-slate panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <svg class="glyph stroked app-window-with-content"><use xlink:href="#stroked-app-window-with-content"></use></svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">{{location_counts.152Frank.BE3}}</div>
                        <div class="text-muted">BE3</div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.row-->

</div>

<h2>NC2 inventory</h2>

<div class="container-fluid" id="wrapper">

    <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-2">
            <div class="panel panel-plum panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <svg class="glyph stroked app-window-with-content"><use xlink:href="#stroked-app-window-with-content"></use></svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">{{location_counts.NC2.SYE1}}</div>
                        <div class="text-muted">SYE1</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-2">
            <div class="panel panel-ocean panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">{{location_counts.NC2.SYE2}}</div>
                        <div class="text-muted">SYE2</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-2">
            <div class="panel panel-slate panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <svg class="glyph stroked app-window-with-content"><use xlink:href="#stroked-app-window-with-content"></use></svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">{{location_counts.NC2.SYE3}}</div>
                        <div class="text-muted">SYE3</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-2">
            <div class="panel panel-plum panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <svg class="glyph stroked app-window-with-content"><use xlink:href="#stroked-app-window-with-content"></use></svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">{{location_counts.NC2.BE1}}</div>
                        <div class="text-muted">BE1</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-2">
            <div class="panel panel-ocean panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">{{location_counts.NC2.BE2}}</div>
                        <div class="text-muted">BE2</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-2">
            <div class="panel panel-slate panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <svg class="glyph stroked app-window-with-content"><use xlink:href="#stroked-app-window-with-content"></use></svg>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">{{location_counts.NC2.BE3}}</div>
                        <div class="text-muted">BE3</div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.row-->

</div>


{% endblock %}



{% block extrajs %}
    <script src="{{ STATIC_URL }}highcharts/js/highcharts.js"></script>
    <script src="{{ STATIC_URL }}highcharts/js/modules/exporting.js"></script>
    <script src="{{ STATIC_URL }}charts/chartdefs.js"></script>
    <script src="{{ STATIC_URL }}base/js/easypiechart.js"></script>
    
    <script src="{{ STATIC_URL }}base/js/jquery.align-column.js"></script>
    <script src="{{ STATIC_URL }}base/js/bootstrap-table.js"></script>
    <script src="{{ STATIC_URL }}base/js/bootstrap-table-filter-control.js"></script>

    <script src="{{ STATIC_URL }}base/js/bootstrap-table-editable.js"></script>
    <script src="{{ STATIC_URL }}base/js/bootstrap-editable.js"></script>
    <script src="{{ STATIC_URL }}base/js/tableExport.js"></script>
    <script src="{{ STATIC_URL }}base/js/bootstrap-table-export.js"></script>
      
  


    <script type="text/javascript">
    
    $(document).ready(cash_bals_chart("{% url 'cash_balances' %}", 'cash_bals_panel'));
    $(document).ready(expense_trends("{% url 'expense_trends' %}", 'expense_trends_panel'));

    
    $(function() {
        $('#easypiechart-BE1').easyPieChart({
            scaleColor: false,
            barColor: '#8E4585'
        });
    });

    $(function() {
        $('#easypiechart-BE2').easyPieChart({
            scaleColor: false,
            barColor: '#229CE4'
        });
    });

    $(function() {
       $('#easypiechart-BE3').easyPieChart({
           scaleColor: false,
           barColor: '#778899'
       });
    });

    $(function() {
        $('#easypiechart-SYE1').easyPieChart({
            scaleColor: false,
            barColor: '#8E4585'
        });
    });

    $(function() {
        $('#easypiechart-SYE2').easyPieChart({
            scaleColor: false,
            barColor: '#229CE4'
        });
    });

    $(function() {
       $('#easypiechart-SYE3').easyPieChart({
           scaleColor: false,
           barColor: '#778899'
       });
    });

    </script>

{% endblock %}