{% extends base_template %}
{% load staticfiles %}


{% block breadcrumb %}
<li class="active">Home</li>

{{ block.super }}
{% endblock %}


{% block content %}

<div class="container-fluid" id="wrapper">

    
    <div row>
        <div class="col-md-12">    
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Load and Process Orders</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-4">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a class="btn btn-primary" data-toggle="modal" data-target="#loadShopify">Load Shopify</a></li>
                            <li><a class="btn btn-primary" href="/admin/base/sale/add?next=/inventory/management/" role="button">Create Manual order</a></li>
                        </ul>
                    </div>
                
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel panel-danger">
                                    <div class="panel-heading text-center">
                                        <h3 class="panel-title">INCOMPLETE ORDERS</h3>
                                    </div>
                                    <div class="panel-body text-center">
                                        <font size="20"><a href='/admin/base/sale/?customer_code=unknown'>{{incomplete_shopify}}</a></font>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="panel panel-warning">
                                    <div class="panel-heading text-center">
                                        <h3 class="panel-title">ORDERS TO BE QUEUED</h3>
                                    </div>
                                    <div class="panel-body text-center">
                                        <font size="20"><a href='/admin/base/sale/?requested=unrequested'>{{to_be_queued}}</a></font>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div row>
        <div class="col-md-12">    
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Make fulfillment batches</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-4">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a class="btn btn-primary" href="/admin/inventory/inventorytransfer/add?next=/inventory/management/" role="button">Create inventory transfer</a></li>
                            <li><a class="btn btn-primary" href="/inventory/make_batch/MICH/" role="button">Create Michigan batch</a></li>
                            <li><a class="btn btn-primary" href="/inventory/make_batch/152Frank/" role="button">Create 152 Franklin batch</a></li>
                            <li><a class="btn btn-primary" data-toggle="modal" data-target="#showBatches">Download Batches</a></li>
                        </ul>
                    </div>
                
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel panel-warning">
                                <div class="panel-heading text-center">
                                  <h3 class="panel-title">MISSING SHIPPING INFO</h3>
                                </div>
                                <div class="panel-body text-center">
                                    <font size="20"><a href='/admin/inventory/fulfillment/?shipping_missing=incomplete'>{{missing_shipping}}</a></font>
                                </div>
                              </div>
                            </div>                            
                            <div class="col-md-6">
                                <div class="panel panel-success">
                                <div class="panel-heading text-center">
                                  <h3 class="panel-title">UNBATCHED FULFILLS</h3>
                                </div>
                                <div class="panel-body text-center">
                                    <font size="20"><a href='/api/inventory/unbatched_fulfillments/'>{{unbatched_fulfillments}}</a></font>
                                </div>
                              </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div row>
        <div class="col-md-12">    
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Post fulfillment</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-4">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a class="btn btn-primary" data-toggle="modal" data-target="#loadThoroughbred">Load Thoroughbred</a></li>                    
                            <li><a class="btn btn-primary" href="/inventory/reconcile_warehouse/" role="button">Reconcile warehouse reports</a></li>

                        </ul>
                    </div>
                
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel panel-danger">
                                    <div class="panel-heading text-center">
                                        <h3 class="panel-title">UNRECONCILED</h3>
                                    </div>
                                    <div class="panel-body text-center">
                                        <font size="20">
                                            <a data-toggle="modal" href="#unreconciled" type="submit" name="unreconciled">{{unreconciled_count}}</a>
                                        </font>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-info">
                                    <div class="panel-heading text-center">
                                        <h3 class="panel-title">WAREHOUSE MISMATCHES</h3>
                                    </div>
                                    <div class="panel-body text-center">
                                        <font size="20"><a href='/api/inventory/thoroughbred_mismatch/'>{{thoroughbred_mismatches}}</a></font>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->

<div class="modal fade" id="createTransfer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">Upload Shopify order file</h3>
      </div>
      <div class="modal-body">
        <p>Please choose a .csv file</p>

        <form role='form' enctype="multipart/form-data" method="post" action="/base/shopify_upload/">{% csrf_token %}
            <div class="form-group">    
                {{shopify_upload_form.as_p}}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href='/' class="btn btn-default">Cancel</a>
        </form>

      </div>
      
    </div>
  </div>
</div>


<div class="modal fade" id="showBatches" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Recent Batches</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid" id="wrapper">
          {% include "splashdict.html" with columns=batch_columns rows=batch_rows %}
        </div>
      </div>
      
    </div>
  </div>
</div>


<div class="modal fade" id="loadShopify" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">Upload Shopify order file</h3>
      </div>
      <div class="modal-body">
        <p>Please choose a .csv file</p>

        <form role='form' enctype="multipart/form-data" method="post" action="/base/shopify_upload/">{% csrf_token %}
            <div class="form-group">    
                {{shopify_upload_form.as_p}}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href='/' class="btn btn-default">Cancel</a>
        </form>

      </div>
      
    </div>
  </div>
</div>

<div class="modal fade" id="loadThoroughbred" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">Upload Thoroughbred fulfillment file</h3>
      </div>
      <div class="modal-body">
        <p>Please choose a .csv file</p>

        <form role='form' enctype="multipart/form-data" method="post" action="/inventory/thoroughbred_upload/">{% csrf_token %}
            <div class="form-group">    
                {{shopify_upload_form.as_p}}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href='/' class="btn btn-default">Cancel</a>
        </form>

      </div>
      
    </div>
  </div>
</div>

<div class="modal fade" id="help" tabindex="-1" role="dialog" aria-labelledby="helpLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">Help</h3>
      </div>
      <div class="modal-body">
        Bunch of help right here
      </div>
      
    </div>
  </div>
</div>

<div class="modal fade" id="unreconciled" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-content">
        {{unreconciled}}
    </div>
</div>


{% endblock %}

{% block sidebar %}
  <a class="btn btn-success btn-lg" data-toggle="modal" data-target="#help">
    <span style="font-size:2em;" class="glyphicon  glyphicon-question-sign" aria-hidden="true"></span>
  </a>
{% endblock %}

{% block extrajs %}
    <script src="{{ STATIC_URL }}highcharts/js/highcharts.js"></script>
    <script src="{{ STATIC_URL }}highcharts/js/modules/exporting.js"></script>
    <script src="{{ STATIC_URL }}charts/chartdefs.js"></script>
    <script src="{{ STATIC_URL }}base/js/easypiechart.js"></script>
    
    <script src="{{ STATIC_URL }}base/js/jquery.align-column.js"></script>
    <script src="{{ STATIC_URL }}base/js/bootstrap-table.js"></script>
    <script src="{{ STATIC_URL }}base/js/bootstrap-table-filter-control.js"></script>

    <script src="{{ STATIC_URL }}base/js/bootstrap-table-editable.js"></script>
    <script src="{{ STATIC_URL }}base/js/bootstrap-editable.js"></script>
    <script src="{{ STATIC_URL }}base/js/tableExport.js"></script>
    <script src="{{ STATIC_URL }}base/js/bootstrap-table-export.js"></script>
{% endblock %}