.Python
.DS_Store
*.ipynb
*.idea/*
*.pyc
*.pyo
*.sublime-*
*.swp
*.ipynb
*.iml
/bin/
/data/
/htdocs/
/include/
/lib/
/man/
/logs/
/src/
/share/
savor/localsettings.py
load_data.sh
load_fixtures
node_modules/
assets/bundles