{% extends "admin/base.html" %}
{% load i18n %}{% load admin_static bootstrapped_goodies_tags %}

{% block title %}Savorifie{% endblock %}

{% block branding %}
<a class="navbar-brand" href="/"><img src="/static/base/img/savor_logo.png" height="25" /></a>
{% endblock %}

{% block welcome-msg %}{% endblock %}


{% block nav-global %}
<li><a class="btn-sm" type="button" href="/reports/">Reports</a></li>
    <li><a class="btn-sm" type="button" href="/daily/">Daily</a></li>
    <li><a class="btn-sm" type="button" href="/audit/tasks/">Compliance</a></li>
    <li><a class="btn-sm" type="button" href="/forecasts">Forecasting</a></li>
    <li><a class="btn-sm" type="button" href="/snapshots/glsnapshots">Snapshots</a></li>
    {% if user.is_superuser %}
    <li class="btn-group">
        <a class="btn btn-sm dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-wrench"></span> POWER USERS <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li><a class="btn-sm" type="button" href="/admin/">Admin</a></li>
        <li><a class="btn-sm" type="button" href="/maintenance/">Maintenance</a></li>
        <li><a class="btn-sm" type="button" href="/dashboard/">Dashboard</a></li>
      </ul>
    </li>

    {% endif %}
    <li class="btn-group">
        <a class="btn btn-sm dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-book"></span> {{ company_id }} <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="/choose_company/SAV">SAV</a></li>
      </ul>
    </li>

{% endblock %}

