{% extends base_template %}
{% load staticfiles %}


{% block breadcrumb %}
<li class="active">Home</li>

{{ block.super }}
{% endblock %}


{% block content %}

<link href="/static/base/css/dashboard_styles.css" rel="stylesheet">


<h2>Reports
<span class="glyphicon glyphicon-info-sign" 
    data-toggle="tooltip" 
    title="Testing it right here. And keep going to see how it looks. Yeah not bad. check it out." 
    data-placement="right" aria-hidden="true">
</span>
</h2>

<div class="container-fluid" id="wrapper">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><a href="/gl/">Reports</a></h3>
                </div>

                <div class="panel-body">

                    <ul>
                        <li><a href="/inventory/sales_history">Full History</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}



{% block extrajs %}
    <script src="{{ STATIC_URL }}highcharts/js/highcharts.js"></script>
    <script src="{{ STATIC_URL }}highcharts/js/modules/exporting.js"></script>
    <script src="{{ STATIC_URL }}charts/chartdefs.js"></script>
    <script src="{{ STATIC_URL }}base/js/easypiechart.js"></script>
    
    <script src="{{ STATIC_URL }}base/js/jquery.align-column.js"></script>
    <script src="{{ STATIC_URL }}base/js/bootstrap-table.js"></script>
    <script src="{{ STATIC_URL }}base/js/bootstrap-table-filter-control.js"></script>

    <script src="{{ STATIC_URL }}base/js/bootstrap-table-editable.js"></script>
    <script src="{{ STATIC_URL }}base/js/bootstrap-editable.js"></script>
    <script src="{{ STATIC_URL }}base/js/tableExport.js"></script>
    <script src="{{ STATIC_URL }}base/js/bootstrap-table-export.js"></script>
      
    <script>
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

{% endblock %}