{% extends base_template %}
{% load staticfiles %}


{% block breadcrumb %}
<li class="active">Home</li>

{{ block.super }}
{% endblock %}


{% block content %}


<!--
This is where bootstrap starts to get a bit demented.   Surely not all
these divs are needed.
-->

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Sales by Month</h3>
            </div>
            <div class="panel-body">
                <div id="by_month" class="panel-body" style="width:100%;height:100%"></div>
            </div>    
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Sales by Channel</h3>
            </div>
            <div class="panel-body">
                <div id="by_channel" class="panel-body" style="width:100%;height:100%"></div>
            </div>    
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Expense Trends</h3>
            </div>
            <div class="panel-body">
                <div id="expense_trends_panel" class="panel-body" style="width:100%;height:100%"></div>
            </div>    
        </div>
    </div>
    
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Cash Balances</h3>
            </div>
            <div class="panel-body">
                <div class="panel-body">
                    <div id="cash_bals_panel" class="panel-body" style="width:100%;height:100%"></div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block extrajs %}
    <script src="{{ STATIC_URL }}highcharts/js/highcharts.js"></script>
    <script src="{{ STATIC_URL }}highcharts/js/modules/exporting.js"></script>
    <script src="{{ STATIC_URL }}charts/chartdefs.js"></script>

    <script type="text/javascript">
    
    $(document).ready(cash_bals_chart("{% url 'cash_balances' %}", 'cash_bals_panel'));
    $(document).ready(expense_trends("{% url 'expense_trends' %}", 'expense_trends_panel'));
    
    </script>
    <script type="text/javascript">
        $(document).ready(simpleChart2("/api/sales/sales_by_month?raw=true&output=chart",
                                         "by_month",
                                         'Units Sold by Month',
                                         ['column'],
                                         [0],
                                         ['Unit Sales'],
                                         ['Units']
                                         ));
    </script>
    <script type="text/javascript">
        $(document).ready(simpleChart2("/api/sales/sales_by_channel?raw=true&output=chart",
                                         "by_channel",
                                         'Units Sold by Channel',
                                         ['column'],
                                         [0],
                                         ['Unit Sales'],
                                         ['Units']
                                         ));
    </script>

    
{% endblock %}