{% extends base_template %}
{% load staticfiles %}


{% block breadcrumb %}
<li class="active">Home</li>

{{ block.super }}
{% endblock %}


{% block content %}


<!--
This is where bootstrap starts to get a bit demented.   Surely not all
these divs are needed.


-->

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><a href="/gl/">Daily Financial Management</a></h3>
            </div>

            <div class="panel-body">

                <p>First Republic account history
                    <a href="/reporting/history/account/1001/?from=2013-01-01">Checking</a>
                </p>
                
                <p>
                    <a href="/reporting/history/account/3000/?from=2013-01-01">Accounts Payable</a>
                </p>

                <p>
                    <a href="/reporting/history/account/1250/?from=2013-01-01">Prepaid Expenses</a>
                </p>

                <p>Account Activity summary for
                    <a href="/reporting/reports/AccountActivity/?col_tag=2015Annual">2015</a>,
                    <a href="/reporting/reports/AccountActivity/?col_tag=2015M12">Dec 2015</a>,
                    <a href="/reporting/reports/AccountActivity/?col_tag=2016M01">Jan 2016</a>,
                    <a href="/reporting/reports/AccountActivity/?col_tag=2016M02">Feb 2016</a>,
                    <a href="/reporting/reports/AccountActivity/?col_tag=2015Q4">Q4 2015</a>,
                    <a href="/reporting/reports/AccountActivity/?col_tag=2016Q1">Q1 2016</a>,
                </p>

                <p>
                <h4>Top Counterparties</h3>
                <ul>
                    <li><a href="/reporting/history/account/3000/?cp=GRN_ST">Greene Street</a></li>
                    <li><a href="/reporting/history/account/3000/?cp=SHOPIFY">Shopify</a></li>
                </ul>
                
                
            </div>
        </div>
    </div>
    
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Cash Balances</h3>
            </div>
            <div class="panel-body">
                <div class="panel-body">
                    <div id="chart_panel2" class="panel-body" style="width:100%;height:100%"></div>
                </div>
            </div>
        </div>
    </div>
    
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Expense Trends</h3>
            </div>
            <div class="panel-body">
                <div id="chart_panel4" class="panel-body" style="width:100%;height:100%"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extrajs %}
    <script src="{{ STATIC_URL }}highcharts/js/highcharts.js"></script>
    <script src="{{ STATIC_URL }}highcharts/js/modules/exporting.js"></script>

    <script type="text/javascript">
    $(document).ready(function() {
         var avgByDayOptions = {
            chart: {
                renderTo: 'chart_panel',
                type: 'line',
            },
            legend: {enabled: true},
            title: {text: 'Cumulative Crossed Revenue'},
            subtitle: {text: 'Last month'},
            xAxis: {title: {text: null}, labels: {rotation: -45}, type:'datetime'},
            yAxis: {title: {text: null}},
            series: [{}],
            credits: {
                enabled: false
            }
        };

        $.ajax({
            type: 'get',
            url: "{% url 'chart_data_json' %}",
            success:function(data) {
                    avgByDayOptions.xAxis.categories = data['chart_data']['dates'];
                    avgByDayOptions.series[0].name = 'Revenue';
                    avgByDayOptions.series[0].data = data['chart_data']['values'];
                    var chart = new Highcharts.Chart(avgByDayOptions);
            }
        });

    } );
    </script>

    <script type="text/javascript">
    $(document).ready(function() {
         var avgByDayOptions2 = {
            chart: {
                renderTo: 'chart_panel2',
                type: 'line',
            },
            legend: {enabled: true},
            title: {text: 'Cash Balances'},
            subtitle: {text: 'Last month'},
            xAxis: {title: {text: null}, labels: {rotation: -45}, type:'datetime'},
            yAxis: {title: {text: null}},
            series: [{}],
            credits: {
                enabled: false
            }
        };

        $.ajax({
            type: 'get',
            url: "{% url 'chart_data_json2' %}",
            success:function(data) {

                console.log(data['chart_data']['values'][1001])
                avgByDayOptions2.xAxis.categories = data['chart_data']['dates'];
                avgByDayOptions2.series[0].name = 'SAV Cash';
                avgByDayOptions2.series[0].data = data['chart_data']['values']['SAV'];

                var chart = new Highcharts.Chart(avgByDayOptions2);
            }
        });

    } );
    </script>


    <script type="text/javascript">
    $(document).ready(function() {
         var avgByDayOptions4 = {
            chart: {
                renderTo: 'chart_panel4',
                type: 'column',
            },
            title: {
                    text: null
                },
            xAxis: {},
            yAxis: {
                min: 0,
                title: {
                    text: null
                },
                stackLabels: {
                    enabled: true,
                    style: {
                        fontWeight: 'bold',
                        color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                    }
                }
            },
            legend: {
                align: 'right',
                x: 0,
                verticalAlign: 'bottom',
                y: 0,
                floating: false,
                backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
                borderColor: '#CCC',
                borderWidth: 1,
                shadow: false
            },
            tooltip: {
                formatter: function () {
                    return '<b>' + this.x + '</b><br/>' +
                        this.series.name + ': ' + this.y + '<br/>' +
                        'Total: ' + this.point.stackTotal;
                }
            },
            plotOptions: {
                column: {
                    stacking: 'normal',
                    dataLabels: {
                        enabled: true,
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                        style: {
                            textShadow: '0 0 3px black'
                        }
                    }
                }
            },
            credits: {
                enabled: false
            }
            };
        

        $.ajax({
            type: 'get',
            url: "{% url 'chart_data_json4' %}",
            success:function(data) {
                avgByDayOptions4.xAxis.categories = data['chart_data']['dates'];
                
                avgByDayOptions4.series = [];

                var data_series = data['chart_data']['values'];

                for (var key in data_series) {
                    avgByDayOptions4.series.push({'name': key, 'data': data_series[key]})
                }
                
                var chart = new Highcharts.Chart(avgByDayOptions4);
            }
        });
        

    } );
    </script>

{% endblock %}