{% extends base_template %}
{% load staticfiles %}


{% block breadcrumb %}
<li class="active">Home</li>

{{ block.super }}
{% endblock %}


{% block content %}


<!--
This is where bootstrap starts to get a bit demented.   Surely not all
these divs are needed.


-->

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><a href="/gl/">Daily Financial Management</a></h3>
            </div>

            <div class="panel-body">

                <p>First Republic account history
                    <a href="/reporting/history/account/1001/?from=2013-01-01">Checking</a>
                </p>
                
                <p>
                    <a href="/reporting/history/account/3000/?from=2013-01-01">Accounts Payable</a>
                </p>

                <p>
                    <a href="/reporting/history/account/1250/?from=2013-01-01">Prepaid Expenses</a>
                </p>

                <p>Account Activity summary for
                    <a href="/reporting/reports/AccountActivity/?col_tag=2015Annual">2015</a>,
                    <a href="/reporting/reports/AccountActivity/?col_tag=2015M12">Dec 2015</a>,
                    <a href="/reporting/reports/AccountActivity/?col_tag=2016M01">Jan 2016</a>,
                    <a href="/reporting/reports/AccountActivity/?col_tag=2016M02">Feb 2016</a>,
                    <a href="/reporting/reports/AccountActivity/?col_tag=2015Q4">Q4 2015</a>,
                    <a href="/reporting/reports/AccountActivity/?col_tag=2016Q1">Q1 2016</a>,
                </p>

                <p>
                <h4>Top Counterparties</h3>
                <ul>
                    <li><a href="/reporting/history/account/3000/?cp=GRN_ST">Greene Street</a></li>
                    <li><a href="/reporting/history/account/3000/?cp=SHOPIFY">Shopify</a></li>
                </ul>
                
                
            </div>
        </div>
    </div>
    
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Cash Balances</h3>
            </div>
            <div class="panel-body">
                <div class="panel-body">
                    <div id="cash_bals_panel" class="panel-body" style="width:100%;height:100%"></div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Expense Trends</h3>
            </div>
            <div class="panel-body">
                <div id="expense_trends_panel" class="panel-body" style="width:100%;height:100%"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extrajs %}
    <script src="{{ STATIC_URL }}highcharts/js/highcharts.js"></script>
    <script src="{{ STATIC_URL }}highcharts/js/modules/exporting.js"></script>
    <script src="{{ STATIC_URL }}charts/chartdefs.js"></script>

    <script type="text/javascript">
    
    $(document).ready(cash_bals_chart("{% url 'cash_balances' %}", 'cash_bals_panel'));
    $(document).ready(expense_trends("{% url 'expense_trends' %}", 'expense_trends_panel'));
    
    </script>

{% endblock %}