{% extends base_template %}

{% load render_bundle from webpack_loader %}

{% block title %}Reporting index{% endblock %}

{% block breadcrumb %}
    <li><a href="/">Home</a></li>
    <li class="active">Reporting Index</li>
    {{ block.super }}
{% endblock %}


{% block content %}



    <div class="row">
        <div class="col-md-6">
             <div class="tab-pane panel panel-default">
                <div class="panel-heading">
                            <h3 class="panel-title"><a href="/gl/">Accounting Quick Links</a></h3>
                </div>

                <div class="panel-body">

                    <p>Trial Balance at end of
                        <a href="/reporting/reports/TrialBalance/?date=2013-12-31">2013</a>,
                        <a href="/reporting/reports/TrialBalance/?date=2014-12-31">2014</a>,
                        <a href="/reporting/reports/TrialBalance/?date=2015-12-31">2015</a>,
                        <a href="/reporting/reports/TrialBalance/?date=2016-12-31">2016</a>,
                        <a href="/reporting/reports/TrialBalance/?date=end_of_last_month">End of Last Month</a>,
                        <a href="/reporting/reports/TrialBalance/?date=today">Today</a>
                    </p>

                    <p>Account Activity summary for
                        <a href="/reporting/reports/AccountActivity/?col_tag=2013Annual">2013</a>,
                        <a href="/reporting/reports/AccountActivity/?col_tag=2014Annual">2014</a>,
                        <a href="/reporting/reports/AccountActivity/?col_tag=2015Annual">2015</a>,
                        <a href="/reporting/reports/AccountActivity/?col_tag=current_YTD">2016 YTD</a>,
                        <a href="/reporting/reports/AccountActivity/?col_tag=current_MTD">MTD</a>,
                        <a href="/reporting/reports/AccountActivity/?col_tag=current_QTD">QTD</a>
                    </p>
                    
                    <p>Cashflow statement for
                        <a href="/reporting/reports/Cashflow/?col_tag=2014Annual">Annual 2014</a>,
                        <a href="/reporting/reports/Cashflow/?col_tag=2015Monthly">Monthly 2015</a>,
                        <a href="/reporting/reports/Cashflow/?col_tag=2015Annual">Annual 2015</a>,
                        <a href="/reporting/reports/Cashflow/?col_tag=2016Monthly">2016</a>,
                        <a href="/reporting/reports/Cashflow/?col_tag=12Mtrailing">Trailing 12 months</a>
                    </p>

                    <p>Income statement for
                        <a href="/reporting/reports/IncomeStatement/?col_tag=2013Annual">2013</a>,
                        <a href="/reporting/reports/IncomeStatement/?col_tag=2014Annual">2014</a>,
                        <a href="/reporting/reports/IncomeStatement/?col_tag=2015Annual">2015</a>,
                        <a href="/reporting/reports/IncomeStatement/?col_tag=2016Monthly">Monthly 2016</a>,
                        <a href="/reporting/reports/IncomeStatement/?col_tag=12Mtrailing">Trailing 12 months</a>
                    </p>

                    <p>Balance Sheet as of
                        <a href="/reporting/reports/IncBalanceSheet/?col_tag=2013Annual">2013</a>,
                        <a href="/reporting/reports/IncBalanceSheet/?col_tag=2014Annual">2014</a>,
                        <a href="/reporting/reports/IncBalanceSheet/?col_tag=2015Annual">2015</a>,
                        <a href="/reporting/reports/IncBalanceSheet/?date=today">Today</a>
                    </p>
                </div>
            </div>
        </div>

    



        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><a href="/gl/">Tactical Reports</a></h3>
                </div>
                <div class="panel-body">
                    <a href="/download_allsales">All Sales</a>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Sales Tax</a></h3>
                </div>
                <div class="panel-body">
                    <h3>Aggregated by collector</h3>
                    <ul>
                        <li>
                            <a href="/api/reports/collected_salestax/?from_date=2016-6-1&to_date=2016-8-31">
                                1-Jun-16 to 31-Aug-16
                            </a>
                        </li>
                        <li>
                            <a href="/api/reports/collected_salestax/?from_date=2016-3-1&to_date=2016-5-31">
                                    1-Mar-16 to 31-May-16
                            </a>
                        </li>
                    </ul>
                    <h3>Download all salestax</h3>
                    <ul>
                        <li>
                            <a href="/api/sales/salestax/?as_csv=true&from_date=2016-6-1&to_date=2016-8-31">
                                1-Jun-16 to 31-Aug-16
                            </a>
                        </li>
                        <li>
                            <a href="/api/sales/salestax/?as_csv=true&from_date=2016-3-1&to_date=2016-5-31">
                                    1-Mar-16 to 31-May-16
                            </a>
                        </li>
                    </ul>
                    <h3>Download all taxable sales</h3>
                    <ul>
                        <li>
                            <a href="/api/sales/salestax2/?as_csv=true&from_date=2016-6-1&to_date=2016-8-31">
                                1-Jun-16 to 31-Aug-16
                            </a>
                        </li>
                        <li>
                            <a href="/api/sales/salestax2/?as_csv=true&from_date=2016-3-1&to_date=2016-5-31">
                                    1-Mar-16 to 31-May-16
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>

{% render_bundle 'reports' %}
{% endblock %}
