{% extends base_template %}
{% load staticfiles %}
{% load render_bundle from webpack_loader %}
{% load humanize %}


{% block extrahead %}
<link rel="stylesheet" href="{{STATIC_URL}}base/css/fixed-data-table.min.css">
<link rel="stylesheet" href="{{STATIC_URL}}base/css/react-bootstrap-table-all.min.css">


<style>
    .modal.modal-wide .modal-dialog {
      width: 90%;
    }
    .modal-wide .modal-body {
      overflow-y: auto;
    }

    /* irrelevant styling */
    body p { 
      max-width: 400px; 
      margin: 20px auto; 
    }
    #tallModal .modal-body p { margin-bottom: 900px };

</style>


{% endblock %}


{% block breadcrumb %}
<li class="active">Home</li>

{{ block.super }}
{% endblock %}


{% block content %}

<div class="container-fluid" id="wrapper">
    <div class="row">
        <div class="col-md-6">    
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Shipments</h3>
                </div>
                <div class="panel-body">
                    <div id="cogs.shipmentCounts"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">    
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">FIFO Assignments</h3>
                </div>
                <div class="panel-body">
                    <div id="cogs.fifoCounts"></div>
                </div>
            </div>
        </div>
    </div>
</div>


{% render_bundle 'cogs' %}

{% endblock %}

